# NEXT_PUBLIC_API_URL=http://localhost:5000/api
# NEXT_PUBLIC_SOCKET_URL=http://localhost:5000







NEXT_PUBLIC_API_URL=https://vedaai-51f6.onrender.com/api
NEXT_PUBLIC_SOCKET_URL=https://vedaai-51f6.onrender.com



# https://vedaai-51f6.onrender.com/